.git
.github
.gitignore
.gitattributes
.editorconfig
node_modules
tests
*.md
*.log
.env
.env.*
!.env.example
docker-compose*.yml
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build
