includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - packages/liberu-cms/cms-contracts/src
        - packages/liberu-cms/cms-core/src
        - packages/liberu-cms/cms-hello/src
        - packages/liberu-cms/cms-media/src
        - packages/liberu-cms/cms-users/src
    treatPhpDocTypesAsCertain: false
